<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.saucedemo.utils.ExtentTestListener"/>
    </listeners>
</suite>
